.input_GCMS_16{
    box-sizing: border-box;
    position: absolute;
    width: 580px;
    height: 3.1rem;
    left: 0.25rem;
    top: 3.2rem;
    border: 3px solid #9dc164;
}
.input_GCMS_17{
    box-sizing: border-box;
    position: absolute;
    width: 580px;
    height: 3.1rem;
    left: 0.25rem;
    top: 3.2rem;
    border: 3px solid #9dc164; 
}
.input_GCMS_18{
    box-sizing: border-box;
    position: absolute;
    width: 580px;
    height: 3.1rem;
    left: 0.25rem;
    top: 3.2rem;
    border: 3px solid #9dc164;  
}
.input_GCMS_19{
    box-sizing: border-box;
    position: absolute;
    width: 580px;
    height: 3.1rem;
    left: 0.25rem;
    top: 3.2rem;
    border: 3px solid #9dc164;  
}
.input_GCMS_20{
    box-sizing: border-box;
    position: absolute;
    width: 580px;
    height: 3.1rem;
    left: 0.25rem;
    top: 3.2rem;
    border: 3px solid #9dc164;   
}
.input_GCMS_21{
    box-sizing: border-box;
    position: absolute;
    width: 580px;
    height: 3.1rem;
    left: 0.25rem;
    top: 3.2rem;
    border: 3px solid #9dc164;  
}
.input_GCMS_22{
    box-sizing: border-box;
    position: absolute;
    width: 580px;
    height: 3.1rem;
    left: 0.25rem;
    top: 3.2rem;
    border: 3px solid #9dc164; 
}
.input_GCMS_23{
    box-sizing: border-box;
    position: absolute;
    width: 580px;
    height: 3.1rem;
    left: 0.25rem;
    top: 3.2rem;
    border: 3px solid #9dc164;   
}