.contact1{
    display: flex;
    margin-top: 6rem;
}
.contact_left{
    width: 55%;
    /* border: 2px solid black; */
    height: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    
    padding-left: 5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
.contact_left h1{
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 3.1rem;
    line-height: 3.6rem;
    color: #000000;
}
.contact_left form label{
    font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.contact_left form input
{
    width: 85%;
    border: none;
    border-bottom: 3px solid #9dc164;
    height: 2rem;
    margin: 1rem 0;
    outline: none;
}
.contact_left form textarea{
    width: 85%;
    margin: 1rem 0;
    border: 3px solid #9dc164;
}
.conatct_btn_div{
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.sbmit{
    width: 20%;
    padding: .5rem;
    background: #9DC164;
    border: none;
   border-radius: .2rem;
   font-size: 1rem;
}
.cncl{
    width: 20%;
    padding: .5rem;
    background: white;
    border-radius: .2rem;
    font-size: 1rem;
}
.contact_right{
    width: 45%;
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    background: #F7FAF3;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.c_right_img{
    width: 40%;
    height: 15%;
    /* border: 2px solid black; */
}
.p_right_img{
    width: 60%;
    height: 80%;
    /* border: 2px solid black; */
    margin-top: -5rem;
}

@media only  screen and (max-width:821px)
{
.p_right_img{
    width: 60%;
    height: 80%;
    /* border: 2px solid black; */
    margin-top: 0rem;
}

.contact1{
    flex-direction: column;
}
.contact_left{
    width: 100%;
}
.contact_right{
    width: 100%;
    padding: 2rem 0;
}
}

@media only  screen and (max-width:450px)
{
    
    .contact_left h1{
        font-size: 2rem;
    }
    .contact_left{
        padding-left: 2rem;
    }
    .contact_left form input {
       width: 92%;
       height: 1rem;
    }
    .sbmit{
        width: 30%;
        font-size: .9rem;
    }
    .cncl{
        width: 30%;
        font-size: .9rem;
    }
}

