.icon-input-wrapper{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
    opacity: 0.8;
}
.icon-input-wrapper .input-icon{
    font-size: 1.3rem;
}   
.icon-input-wrapper input{
    flex: 1;
    border: none;
    padding: 0.3rem;
    padding-left: 0;
    font-size: 1rem;
    background: transparent;
    outline: none;
    border-bottom: 2px solid #000;
}