.addusercontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2%;
    font-family: 'Inter';
    font-style: normal;
}

.addusercontainer .adminsidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    background: #777C9B;
    border-radius: 0px 60px 60px 0px;
}

.addusercontainer .adminsidebar img {
    margin: 25% 0% 5% 0%;
}

.addusercontainer .adminsidebar h3 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}

.addusercontainer .adminsidebar h3:hover {
    background: #AAB7CB;
    color: #303939;
    width: 100%;
    text-align: center;
}

.addusercontainer .adminbody {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: max-content;
}

.addusercontainer .adminbody .adminnavbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding: 1% 2%;
    background: rgba(119, 124, 155, 0.8);
}

.addusercontainer .adminbody .adminnavbar span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.addusercontainer .adminbody .adminnavbar h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.addusercontainer .adminbody .adminnavbar svg {
    width: 3.75;
    height: 3.75;
}

.addusercontainer .adminbody .adduser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
}

.addusercontainer .adminbody .adduser .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.addusercontainer .adminbody .adduser .sections {
    display: flex;
    flex-direction: row;
    width: 85%;
    gap: 0%;
    justify-content: center;
    align-items: center;
    background: #59b919;
    border-radius: 10px;
    
}

.addusercontainer .adminbody .adduser .sections h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    padding: 2% 1%;
    color: #263238;

    border-radius: 11px 3px 3px 11px;
}

.addusercontainer .adminbody .adduser .sections h4:hover {
    background: #777C9B;
    color: #FFFFFF;
}

.addusercontainer .adminbody .adduser .buttons .adduserbtn {
    width: 12rem;
    background: #AAB7CB;
    border-radius: 10px;
    border: none;
    padding: 1% 2%;
    white-space: nowrap;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #263238;
}

.addusercontainer .adminbody .adduser .buttons .viewbtn {
    width: 12rem;
    background: #9296AF;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    padding: 1% 2%;
    white-space: nowrap;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.addusercontainer .adminbody .adduser .buttons .viewbtn:hover {

    background: #AAB7CB;
    color: #000000;


}


.addusercontainer .adminbody .adduser .addbtn {
    margin-right: 45%;

    width: 12rem;
    background: #9296AF;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    padding: 1% 2%;
    white-space: nowrap;


}

.addusercontainer .adminbody .adduser .tables {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.addusercontainer .adminbody .adduser .tables table {
    border-collapse: collapse;
    width: 80%;
}

.addusercontainer .adminbody .adduser .tables table td {
    text-align: center;
    border: 3px solid #455A64;
    background: #F0F0F0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    padding: 1%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4A4B4B;
}

.addusercontainer .adminbody .adduser .tables table th {
    text-align: center;
    border: 3px solid #455A64;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    z-index: 9;
    padding: 2%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}



.addusercontainer .adminbody .adduser .tables table tr:first-child td {
    border-top: 0;
}

.addusercontainer .adminbody .adduser .tables table tr td:first-child {
    border-left: 0;
}

.addusercontainer .adminbody .adduser .tables table tr:last-child td {
    border-bottom: 0;
}

.addusercontainer .adminbody .adduser .tables table tr td:last-child {
    border-right: 0;
}


.addusercontainer .adminbody .adduser .tables table tr:first-child th {
    border-top: 0;
}

.addusercontainer .adminbody .adduser .tables table tr th:first-child {
    border-left: 0;
}

.addusercontainer .adminbody .adduser .tables table tr:last-child th {
    border-bottom: 0;
}

.addusercontainer .adminbody .adduser .tables table tr th:last-child {
    border-right: 0;
}