.create_blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.create_blogs1{
    width: 65%;
    align-items: center;
}

@media screen and (max-width: 768px){
    .create_blogs1{
        width: 100%;
    }
    
}
