.profile-container {
  /* margin: 20% auto;  */
  margin: auto;
  margin-top: 4rem;
}

.card-header {
  text-align: center;
}

.main-form {
  /* padding: 2rem;
  text-align: left;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.profile-card {
  padding: 40px;
}
