.admin-side-navigation {
  grid-area: navigation;
  width: 100%;
  background: #aecb80;
  border-radius: 0 60px 60px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.admin-side-navigation .nav-list {
  list-style: none;
  margin-top: 3rem;
  width: 100%;
}
.admin-side-navigation .nav-btn {
  width: 100%;
  cursor: pointer;
}
.admin-side-navigation .nav-link {
  padding: 1rem 2rem;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  display: block;
}
.admin-panel-logo {
  border-radius: 10px;
  background-color: #aecb80;
  background-image: linear-gradient(#aecb80 1%, #ffffff 85%, #aecb80 1%);
}
.admin-side-navigation .nav-link--active {
  background: #94ab6e3c;
}
.admin-side-navigation .nav-link:hover {
  background: #94ab6e3c;
}
.admin-side-navigation .nav-link--active:hover {
  background: #94ab6e3c;
}
@media only screen and (max-width: 768px) {
  .admin-panel-logo {
    width: 5rem;
    display: none;
  }
  .admin-side-navigation {
    grid-area: navigation;
    border-radius: 0;
    border-top: 2px solid rgba(220, 52, 47, 0.332);
    padding-top: 0;
  }
  .admin-side-navigation .nav-list {
    margin-top: 0;
  }
}
